/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
#page
{
 width: 900px;
 height: 900px;
 margin: 0 auto;

}
.categories
{
 float: left;
 margin-left: 179px;
 margin-top: 30px;
 background-color: LightYellow;
}
.categories
  li
    {
    float: left;
    width: 76px;
    display: block;
    }
ul.sub{
    width: 30px;
    margin-left: -40px;
    padding-top: 10px;
}
